# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# =========================
# Environment / secrets
# =========================
.env
**/.env

# =========================
# Database / backup
# =========================
*.sql
*.db
*.sqlite
*.sqlite3

# =========================
# Vision temporary files
# =========================
vision/new_dataset/
vision/plate_debug.jpg
vision/plate_processed.jpg
vision/plate_test.mp4

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db